SAPPHIRE_NEXUS_HOST=127.0.0.1
SAPPHIRE_NEXUS_PORT=4420
SAPPHIRE_NEXUS_AOE_URL=http://127.0.0.1:4402
SAPPHIRE_NEXUS_OLLAMA_URL=http://127.0.0.1:11434
SAPPHIRE_NEXUS_WINDOWS_GPU_URL=http://192.168.1.61:9090
